@{
    ViewData["Title"] = "Giriş Yap";
}

<h2>Giriş Yap</h2>

@if (ViewBag.Hata != null)
{
    <div style="color:red">
        @ViewBag.Hata
    </div>
}

<form asp-controller="Giris" asp-action="GirisYap" method="post">
    <div>
        <label>E-posta</label>
        <input type="email" name="eposta" class="form-control" />
    </div>

    <div>
        <label>Şifre</label>
        <input type="password" name="sifre" class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>

<br />

<a asp-controller="Giris" asp-action="KayitOl">Hesabın yok mu? Kayıt Ol</a>
